#probability-form {
    display: block;
}
#probability-inputs {
    display: block;
}
#custom-probability-input, #weekly-validations-input {
    width: 100%;
    max-width: 150px;
    padding: 0.5rem;
}
#custom-probability-slider, #weekly-validations-slider {
    margin: 1rem 0;
}
.hidden {
    display: none !important;
}